<html>
	<body>
		<div class="about-list">
            <ul>
                <li><p>CO S? V?T CH?T HI?N Ð?I B?T NH?T</p>
                  <div class="tb-img">
                      <a href="#"><img src="assets/images/news3.jpg" alt=""/></a>
                  </div>
                </li>
                <li><p>CÔNG NGH? TH?M M? TIÊN TI?N HÀNG Ð?U</p>
                      <div class="tb-img">
                      <a href="#"><img src="assets/images/news3.jpg" alt=""/></a>
                  </div>
                </li>
                <li><p>QUY TRÌNH TH?M M? CHUYÊN NGHI?P AN TOÀN</p>
                     <div class="tb-img">
                      <a href="#"><img src="assets/images/news3.jpg" alt=""/></a>
                  </div>
                </li>
                <li><p>QUY TRÌNH TH?M M? CHUYÊN NGHI?P AN TOÀN</p>
                     <div class="tb-img">
                      <a href="#"><img src="assets/images/news3.jpg" alt=""/></a>
                  </div>
                </li>
            </ul>
        </div>
	</body>
</html>